<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>TITULO STRONG</strong>
    <div>
      <ion-list>
        <ion-item *ngFor = "let elemento of elementos" routerLink="{{elemento.ruta}}">
          <ion-icon name="{{elemento.icono}}">{{elemento.titulo}}</ion-icon>
          <ion-label>{{elemento.titulo}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <p>HIMNO DEL BETIS <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=tJcA3eKi_XI"> PINCHA  AQUI</a></p>
  </div>
</ion-content>